<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Insert</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="">
        <%-include('../header/headerBackToHome')%>
    </div>

    <div class="w-[90%] m-auto mt-[6px] mb-[7px]">
        <a href="/studentAttendanceShow" class="rounded-[10%] border px-5 py-1"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class=" w-full">
        <div class="container w-full h-[86vh] flex justify-center flex-col items-center">



            <div class="container  w-3/4 h-[70vh]   ">

                <div class="overflow-auto max-h-96 border border-gray-300 mt-3">
                    <table class="min-w-full  divide-gray-200">
                        <thead class="sticky top-0 bg-red-400 ">
                            <tr>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">Student Id</th>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Student Name</th>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    class</th>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Attendance date</th>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Status</th>
                                <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Narration</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <%if(result.length>0){%>
                                <%result.forEach((element)=>{%>
                                    <tr>
                                        <td class="px-6 py-4 ">
                                            <%=element.student_id%>
                                        </td>
                                        <td class="px-6 py-4 "><%=element.student_name%></td>
                                        <td class="px-6 py-4 ">
                                            <%=element.cla_ss%>
                                        </td>
                                        <td class="px-6 py-4 ">
                                            <%=element.attendance_date%>
                                        </td>
                                        <td class="px-6 py-4 flex justify-start"><button
                                                class="statusPAndA px-2 py-1 rounded-[5px]">
                                                <%=element.st_atus%>
                                            </button></td>
                                        <td class="px-6 py-4 ">
                                            <%=element.narration%>
                                        </td>
                                    </tr>
                                    <% })%>

                                        <%}else{%>

                                            <td colspan="6 " class="text-red-800 border p-2">No data found</td>

                                        <%}%>

                        </tbody>
                    </table>
                </div>


            </div>


        </div>
    </div>



    <script>
        let presentAbsents = document.querySelectorAll('.statusPAndA');
        presentAbsents.forEach(presentAbsent => {
            if (presentAbsent.innerText == "Present") {
                presentAbsent.style.background = '#118966';
                presentAbsent.style.color = 'white';

            }
            if (presentAbsent.innerText == "Absent") {
                presentAbsent.style.background = '#e60f43';
                presentAbsent.style.color = 'white';
            }
        });
    </script>

</body>

</html>