<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Insert</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="">
        <%-include('../header/headerBackToHome')%>
    </div>
    <a href="/" class="rounded-[10%] border px-5 py-1 absolute md:top-16 "><i class="fa-solid fa-arrow-left"></i></a>

    <% let teacher_code = "" %>
    <% let first_name = "" %>
    <% let last_name = "" %>
    <% let gender = "" %>
    <% let qualification = "" %>
    <% let specialization = "" %>
    <% let subject = "" %>
    <% let email = "" %>
    <% let phone_number = "" %>
    <% let address = "" %>
    <% let permanent_address = "" %>
    <% let hire_date = "" %>
    <% let marital_status = "" %>
    <% let Password = "" %>
    <% let img = "" %>


      
    <% if(validationerrData != null){ %>

        <% teacher_code = validationerrData.teacher_code %>
        <% first_name = validationerrData.first_name %>
        <% last_name = validationerrData.last_name %>
        <% gender = validationerrData.gender %>
        <% qualification = validationerrData.qualification %>
        <% specialization = validationerrData.specialization %>
        <% subject = validationerrData.subject %>
        <% email = validationerrData.email %>
        <% phone_number = validationerrData.phone_number %>
        <% address = validationerrData.address %>
        <% permanent_address = validationerrData.permanent_address %>
        <% hire_date = validationerrData.hire_date %>
        <% marital_status = validationerrData.marital_status %>
        <% Password = validationerrData.Password %>
        <% img = validationerrData.photo %>

       
        
   <% } %>


    <div class="w-full h-[92vh] bg-[#f0f1f3] flex items-center overflow-auto ">
        <div class="w-full m-auto">

        <form action="/teacherInsertData" enctype="multipart/form-data" method="post"  class="max-w-[90%]  m-auto grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 gap-5 md:gap-y-9 pt-2 ">
        
            <div class=" flex justify-center text-2xl text-white col-span-full">
                <h1 class=" border-sky-600 border-b-2 rounded-[5px] text-sky-600 transition transform ease-in duration-300 hover:scale-110 cursor-pointer hover:text-yellow-500  md:text-[20px] text-[16px]  ">Teacher Form </h1>
            </div>

           <div class = " flex justify-center items-center flex-col">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Teacher Code" name="teacher_code">
              <p class="text-red-800"><%=teacher_code%></p>
           </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="First Name" name="first_name">
              <p class="text-red-800"><%=first_name%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Last Name" name="last_name">
              <p class="text-red-800"><%=last_name%></p>
            </div>

           <div class = " flex justify-center flex-col items-center">
              <select name="gender" id="" class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110">
                <option value="" disabled selected>* Select male and Female</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="Other">Other</option>
              </select>
              <p class="text-red-800"><%=gender%></p>
           </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Qualification" name="qualification">
              <p class="text-red-800"><%=qualification%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <select name="specialization" id="" class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110">
                <option value="" disabled selected>* Select specialization</option>
                <option value="specialization 1">specialization 1</option>
                <option value="specialization 2">specialization 2</option>
                
                
              </select>
              <p class="text-red-800"><%=specialization%></p>
           </div>
           <div class = " flex justify-center flex-col items-center">
              <select name="subject" id="" class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110">
                <option value="" disabled selected>* Select Subject</option>
                <option value="hindi">hindi</option>
                <option value="english">english</option>
                <option value="math">math</option>
                
              </select>
              <p class="text-red-800"><%=subject%></p>
           </div>
           <div class = "flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="number" placeholder="Mobile Number" name="phone_number">
              <p class="text-red-800"><%=phone_number%></p>
            </div>
           <div class = "flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="email" placeholder="Email" name="Email">
              <p class="text-red-800"><%=email%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Address" name="address">
              <p class="text-red-800"><%=address%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Permanent Address" name="permanent_address">
              <p class="text-red-800"><%=permanent_address%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="date" placeholder="Hire Date" name="hire_date">
              <p class="text-red-800"><%=hire_date%></p>
            </div>

            <div class = " flex justify-center flex-col items-center">
                <select name="marital_status" id="" class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110">
                  <option value="" disabled selected>* Marital Status</option>
                  <option value="married">Marid</option>
                  <option value="UnMarid">UnMarried</option>
                 
                  
                </select>

                <p class="text-red-800"><%=marital_status%></p>
             </div>

           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4  text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 transition transform ease-in-out duration-300 hover:scale-110 h-fit" type="file" name="photo">
              <p class="text-red-800"><%=img%></p>
            </div>
           <div class = " flex justify-center flex-col items-center">
              <input class="w-3/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2 transition transform ease-in-out duration-300 hover:scale-110" type="text" placeholder="Password" name="Password">
              <p class="text-red-800"><%=Password%></p>
            </div>

           <div class = " flex justify-center col-span-full mb-5">
                <input class=" cursor-pointer text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2transition transform ease-in-out duration-300 hover:scale-110" type="submit" >
           </div>
        </form>
        </div>
    </div>



    
</body>
</html>


